{{#if comments}}
{{#each comments}}
<div style="padding-left: {{../level}}px;">
    <span><img src="http://localhost:3000/{{this.avatar}}" style="width:25px; height:25px;"></span>
    <span>{{this.message}}</span>
    <a href="#" style="text-decoration:none;"
        onclick="getElementById('form-{{../news.id}}-{{this.id}}').style.display='block'">+</a>|
    <a href="#" style="text-decoration:none;"
        onclick="getElementById('form-{{../news.id}}-{{this.id}}-edit').style.display='block'">edit</a>|
    <a href="#" style="text-decoration:none;"
        onclick="getElementById('form-{{../news.id}}-{{this.id}}-delete').submit()">X</a>
    <form style='display: none;' method='POST' action='/news/{{../news.id}}/delete/{{this.id}}'
        id='form-{{../news.id}}-{{this.id}}-delete'></form>
    <form style='display: none;' method='POST' action='/news/{{../news.id}}/new/{{this.id}}'
        id='form-{{../news.id}}-{{this.id}}' enctype='multipart/form-data'>
        <div>Text: <input type="text" name="content" /></div>
        <div>File: <input type="file" name="avatar" /></div>
        <div><input type="submit" /></div>
    </form>
    <form style='display: none;' method='POST' action='/news/{{../news.id}}/edit/{{this.id}}'
        id='form-{{../news.id}}-{{this.id}}-edit'>
        <input type="text" name="content" value="{{this.message}}" /><input type="submit" />
    </form>
</div>
{{>comments news=../news comments=this.replies level=(inc ../level)}}
{{/each}}
{{/if}}