<h1>{{news.title}}|<a href="/news/{{news.id}}/edit">edit</a></h1>
<div>
    <img src="{{ news.cover }}" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ news.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ news.author }}</h6>
        <p class="card-text">{{ news.description }}</p>
        <h5>Комментарии</h5>
        {{>comments news=news comments=news.comments level=0}}
        <a href="#" style="text-decoration:none;"
            onclick="getElementById('form-{{news.id}}').style.display='block'">+</a>
        <form style='display: none;' method='POST' action='/news/{{news.id}}' id='form-{{news.id}}'
            enctype='multipart/form-data'>
            <div>Text: <input type="text" name="content" /></div>
            <div>File: <input type="file" name="avatar" /></div>
            <div><input type="submit" /></div>
        </form>
    </div>
</div>