{{#if news}}
<div class="row">
    {{#each news}}
    <div class="col-lg-6">
        <div class="card" style="width: 300px;">
            <img src='{{this.cover}}' class="card-img-top" style="height: 300px; width: 300px; object-fit: cover;"
                alt=''>
            <div class="card-body">
                <h5 class="card-title"><a href='/news/{{this.id}}'>{{this.title}}</a></h5>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text"><img src='{{this.user.avatar}}' style="height: 16px; width: 16px;"
                        class="rounded-circle m-1"><small class="text-muted">{{fullname
                        this.user}}</small><span class="m-1 text-muted">&#183;</span><small class="text-muted">{{date
                        this.createdAt}}</small>
                </p>

            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h2>Нет новостей</h2>
{{/if}}